#checkout {
  display: none;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
}
#checkout-cuerpo {
  width: 60%;
  margin-top: 4em;
}




.checkout-item {
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px dashed rgb(0, 255, 0);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.checkout-item div {
  width: 30%;
}

.checkout-precio {
  text-align: right;
}

.checkout-total {
  font-size: 2em;
  font-weight: bold;
  border-bottom: none;
}