
/* Página inicio */

#web-inicio {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/daisy.png);
  font-family: "Comic Sans MS", "Comic Sans";
  cursor: url("../img/reptar.png"), auto;
}

.web-inicio-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  box-shadow: 20px 20px 20px #ff751a;
  border-radius: 22px;
  border: #b3b3b3 20px groove;
  color: white;
}

.web-inicio-badges img {
  padding: 10px;
  width: 120px;
}

.web-inicio-action {
  height: 30px;
}
.blink {
  animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#bubble {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/bubble.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  z-index: 100;
  cursor:pointer;
}



#boton-peligro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}


#playVideo {
  background-color: red;
  color:white;
  font-size: 4em;
  border:2px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 5px 10px #888888;
}

#videoPlayer {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#video1 {
  width: 80%;
}